.raviz-popup {

  max-width: 200px;

  header {
    font-size: 15px;
    font-weight: bold;
  }

  &.mapboxgl-popup-anchor-top {
    .mapboxgl-popup-tip {
      border-bottom-color: rgba(17, 44, 60, 0.8);
    }
  }

  &.mapboxgl-popup-anchor-top-left {
    .mapboxgl-popup-tip {
      border-bottom-color: rgba(17, 44, 60, 0.8);
    }
  }

  &.mapboxgl-popup-anchor-top-right {
    .mapboxgl-popup-tip {
      border-bottom-color: rgba(17, 44, 60, 0.8);
    }
  }

  &.mapboxgl-popup-anchor-bottom {
    .mapboxgl-popup-tip {
      border-top-color: rgba(17, 44, 60, 0.8);
    }
  }

  &.mapboxgl-popup-anchor-bottom-left {
    .mapboxgl-popup-tip {
      border-top-color: rgba(17, 44, 60, 0.8);
    }
  }

  &.mapboxgl-popup-anchor-bottom-right {
    .mapboxgl-popup-tip {
      border-top-color: rgba(17, 44, 60, 0.8);
    }
  }

  &.mapboxgl-popup-anchor-left {
    .mapboxgl-popup-tip {
      border-right-color: rgba(17, 44, 60, 0.8);
    }
  }

  &.mapboxgl-popup-anchor-right {
    .mapboxgl-popup-tip {
      border-left-color: rgba(17, 44, 60, 0.8);
    }
  }

  .mapboxgl-popup-content {
    background: rgba(17, 44, 60, 0.8);
    color: rgba( 255, 255, 255, 1 );
  }
}
