// Styles here are based on https://github.com/NREL/nrel-app-template-bootstrap4

@import url("https://fonts.googleapis.com/css?family=Roboto");

.nrel-footer-wrapper {
  height: 100%;
  width: 100%;
  background-color: inherit;
  position: relative;
  font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #e3e6e8;

  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }

  footer {
    background-color: #e3e6e8;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    padding-bottom: 5em;

    .footertop {
      background-color: #d1d5d8;
      padding: 2em 0;
    }

    a,
    a:visited {
      color: #000;
      text-decoration: none;
    }

    a:hover {
      color: #c60;
      text-decoration: underline;
    }

    a > .fa:first-child {
      margin-right: 5px;
      padding-bottom: 3px;
    }

    img {
      vertical-align: middle;
      border-style: none;
    }
    p {
      margin-top: 0;
      margin-bottom: 1rem;
    }

    ul {
      list-style-type: none;
      margin-left: 0;
      margin-bottom: 0;
      padding-left: 0;
    }

    .nrel-attr {
      font-size: 12px;
    }

    .social-links {
      font-size: 14px;
      margin: 0 0 1em 0;
    }

    .list-inline-item:not(:last-child) {
      margin-right: 0.5rem;
    }
    .social-links li {
      padding: 0;

      .social-svg {
        height: 15px;
        width: 15px;
      }
    }

    .list-inline {
      padding-left: 0;
      list-style: none;
    }

    .list-inline-item {
      display: inline-block;
    }
    ul li {
      line-height: 1.25em;
      margin-bottom: 0.55em;
    }

    .footerbottom {
      padding-top: 2em;
    }

    .global div {
      margin: 1em 0 0 0;
      line-height: 1.3;
    }

    .globalsecondary div,
    .nrel-attr {
      font-size: 12px;
    }

    .mt-1,
    .my-1 {
      margin-top: 0.25rem !important;
    }

    .mt-3,
    .my-3 {
      margin-top: 1rem !important;
    }

    .mt-4,
    .my-4 {
      margin-top: 1.5rem !important;
    }

    .mr-5,
    .mx-5 {
      margin-right: 3rem !important;
    }

    .col-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }

    .col {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }

    .col,
    .col-1,
    .col-10,
    .col-11,
    .col-12,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-auto,
    .col-lg,
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-auto,
    .col-md,
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-auto,
    .col-sm,
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-auto,
    .col-xl,
    .col-xl-1,
    .col-xl-10,
    .col-xl-11,
    .col-xl-12,
    .col-xl-2,
    .col-xl-3,
    .col-xl-4,
    .col-xl-5,
    .col-xl-6,
    .col-xl-7,
    .col-xl-8,
    .col-xl-9,
    .col-xl-auto {
      position: relative;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
    }

    .flex-column {
      -ms-flex-direction: column !important;
      flex-direction: column !important;
    }
    .d-flex {
      display: -ms-flexbox !important;
      display: flex !important;
    }

    @media (min-width: 576px) {
      .container {
        max-width: 540px;
      }

      .col-sm-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
      }

      .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
      }

      .col-sm-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
      }
    }

    @media (min-width: 768px) {
      .container {
        max-width: 720px;
      }

      .social-links {
        font-size: 14px;
        margin: 0 0 1em 0;
      }

      .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
      }

      .col-md-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
      }
    }

    @media (min-width: 992px) {
      padding-bottom: 6em;

      .container {
        max-width: 960px;
      }

      .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
      }

      .col-lg-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
      }

      .col-lg-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
      }

      .global div:first-child {
        margin: 0 2em 0 0;
      }

      .global div {
        margin: 0 2em;
      }

      .justify-content-lg-start {
        -ms-flex-pack: start !important;
        justify-content: flex-start !important;
      }

      .flex-lg-row {
        -ms-flex-direction: row !important;
        flex-direction: row !important;
      }
    }

    @media (min-width: 1200px) {
      padding-bottom: 7em;

      .container {
        max-width: 1140px;
      }
    }

    .row {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
    }

    .container {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
