.app-header {
  display: block;
  // height: 60px;
  color: #FEC841;
  width: 100%;
  height: 48px;

  h1 {
    float: left;
    font-size: 30px;
    width: 190px;
    margin: 10px 0 0 0;
    text-shadow: 1px 1px 8px #FEC841;      
  }

  .graphic {
    float: left;
    width: 1010px;
    margin: 16px 0 0 0;
  }

  .cog {
    width: 20px;
    height: 20px;
    float: right;
    cursor: pointer;
  }
}